# (Very Important) Instructions to get started

'''

Please, use a different browser in case you are using *MS Internet Explorer* or *MS Edge* and you experience **mulfunctions**. 

To **run** or **work** on this [jupyter notebook](https://jupyter-notebook.readthedocs.io/en/stable/notebook.html) you **must** 

1. **Save the notebook** to your Google Drive. After saving the notebook, you will be able to run it.

  * Select **File** / **Save a copy in Drive**  from the Colab menu (an example is below, the notebook name may change)
     ![Colab Menu](https://drive.google.com/uc?export=download&id=1-WfIFWuHC6OSJb3iwnR7NqpkXs9tvwO2)
  * If required, login with your google account  
  ![Signin Button](https://drive.google.com/uc?export=download&id=1yomWF3t03TiPsrp6AAZDXIFpz5XXTvM1)  (any goole account is fine, you can use the campus account or your own gmail account)
  

2.  Files are usually saved in the  **Colaboratory** *directory* which is located on the root of your google drive. 

3. To open the notebook again:
    * login to the google drive you saved the notebook: [drive.google.com](http://drive.google.com/)
    * open the **Colaboratory** directory
    * **right click** on the file. From the drop down menu choose **Open With** / **Google Colaboratory**

4. In case of problems, please refer to [this document](https://docs.google.com/document/d/1Y-ABvbOQhMvi7COibLJopL-mnPsaCBv_KRr6eKAsnj8/edit?usp=sharing)

5. By saving the first colab notebook in gdrive, it is automatically installed a **software extension** which is required to open or create new notebooks in your gdrive

## Exercises using Colab, Machine Learning, and ...

This is a [jupyter notebook](https://jupyter-notebook.readthedocs.io/en/stable/notebook.html) interface where several elements can be mixed e.g., 

* Cells containing programs (we will focus on the python programming language),
* Inputs and outputs of the computations,
* Explanatory text, 
* Mathematics, 
* Images,
* Rich media representations of objects
* ...

## Cell Types
We will mostly focus on two cell types:

* Code
* Text 

## Markdown
Contents in **texts cells** can be written using [markdonw syntax](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html). 

Here it is a quick reference to the markdown syntax: 

[https://en.support.wordpress.com/markdown-quick-reference/](https://en.support.wordpress.com/markdown-quick-reference/) 


## Creating an empty Colab
Please follows the next steps

* Open in a browser the URL [https://drive.google.com/](https://drive.google.com/) 

* Please choose

+ New / More / Colaboratory

* Save the notebook in your preferred gdrive location  


### COLAB Keyboard Shortcuts
To access the COLAB keyboard shortcuts:

[Menu] Tools / Keyboard Shortcuts (ctrl to be replaced by Command in the Mac)

* Ctrl+M  M     To change a cell into text
* Ctrl+M  Y      To change a cell into code
* Ctrl+M L       Toggle line numbers

'''

# Eercise on job vacancy classification

'''
IIn this exercise we will focus on job vacancies posted by companies.

We have to clasify the texts into predefined occupational categories. We will manually label some texts and subsequently we will use machine learning algorithms. 
The teacher will pass you the code through this address

[https://tinyurl.com/mcsharednotes](https://tinyurl.com/mcsharednotes)

'''

In [ ]:
######
# SIn case any library is missing, you can install it using the pip command shown below.
# The ! means that the command is executed by the system shell and not by the 
# Python interpreter. 
#
!pip install nltk
#
# Once installed, you may want to restart the 
# runtime/kernel (from the Colab menu: Runtime / Factory reset runtime)

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
# The NLTK library is already installed in Colab

In [ ]:
######
# Importing the libraries
# They will be described/commented later 

from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC, SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score 
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import time
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin # useful for implementing text preprocessing components that can be pipelined
import nltk #Â nltk provides some useful algorithms and data for natural language processing
from IPython.display import IFrame # to get a better output on Notebooks

'''

More info on the libraries:
- [pandas](https://pandas.pydata.org/pandas-docs/stable/dsintro.html) 
- [sklearn](http://scikit-learn.org/stable/)
- [NLTK](https://www.nltk.org/)

'''

# Manual labelling

'''
You can find some job vacancies (in a shared google sheet (more details below). The advertisements have been downloaded from Job Vacancies posted on the web. 

Please, after **checking the spreadsheet below** content, **read the next instructions below**.

Run the following code to show up the gsheet.

'''

In [ ]:
######
#from IPython.display import IFrame  
gsheetUrl="https://docs.google.com/spreadsheets/d/1X6zJNKMWgBsu-Zhe1H3x9smHEz2ft2IZRE0QqTlhDZU/edit?usp=sharing"
display(IFrame(gsheetUrl, width=1000, height=400))

'''
## *Instructions*
For your convenience, the gsheet above can be opened in a larger window using [this link](https://docs.google.com/spreadsheets/d/1X6zJNKMWgBsu-Zhe1H3x9smHEz2ft2IZRE0QqTlhDZU/edit?usp=sharing)

The gsheet hasthree tabs:

* *JobCategories*
* *Vacancies*
* *TaskAllocation*

Description of the **work to be done**

* Please, go to the *TaskAllocation* tab, **choose** an **un**assigned group of vacancies,  **write your name / nickname** to reserve the group for you

* In the *Vacancies* sheet, locate the job offers you reserved. The *From* and *to* columns in the TaskAllocation Tab refer to the *Prog.* Column of the Vacancies sheet

* Classify each job offer according to the *job category* you find most appropriate. Fill column D (CategoryID) with numeric values chosen from 1, 2, 3, 4. 

* The correspondence between the numerical **CategoryID** and the Job Category can be found in the **JobCategories** sheet. A summary is reported below

**CateogoryID** **Description**
0. To be decided. A job category has not yet been assigned. All 0s must be eventually replaced with other codes
1. Accountants (ISCO code 2411)
2. (ICT) System Administrators (ISCO code 2522)
3. Chef (ISCO code 3434)
4. Cleaners and helpers in office, hotels,. . . (ISCO code 9112)

Please, notify the teacher once you have finished,


**Enjoy**

'''

In [ ]:
######
# In colab you can also try the following command. 
# The "Magic Command "%%html
# will force all the cell code to be interpreted as html.
# Please, remove the comments from the next lines
#%%html
#<iframe src="https://docs.google.com/spreadsheets/d/1X6zJNKMWgBsu-Zhe1H3x9smHEz2ft2IZRE0QqTlhDZU/edit?usp=sharing"  width="1000" height="400"> </iframe>

In [ ]:
####################################
# Function to load the dataset
dfRaw = None

def loadDataFrame():
  # The next UEL allows us to download the gsheetdata as a .csv file 
  # Please, check it out the last part of the url: ?tqx=out:csv&gid=1
  # ...out:csv is a request for csv data, gid=1 is a request for the first sheet
  urlCsv = "https://docs.google.com/spreadsheets/d/1X6zJNKMWgBsu-Zhe1H3x9smHEz2ft2IZRE0QqTlhDZU/gviz/tq?tqx=out:csv&gid=1"

  # To get more info on pandas read_csv(), please refer to 
  # https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
  df = pd.read_csv(urlCsv, 
              quoting=0,  # Quoting=0 removes fields surrounding quotes
              header=0,           # column names are in the first row (i.e., row 0)
              usecols=['Prog.', 'Title', 'ID', 'CategoryID', 
                      'CategoryName', 'Description'] # loads only the specified columns       
                     ) 
  return df
  
  
dfRaw = loadDataFrame()
# .head() shows the first rows of the DataFrame just loaded
# The cell last command output is shown
dfRaw.head() #It shows only the firs rows

,Prog.,Title,ID,CategoryID,CategoryName,Description
0,1,Senior Accountant,7269055,1,Accountants,A key position has arisen in a long establishe...
1,2,Accounts Semi Senior,1357788,1,Accountants,Â£15.000 - Â£18.000 (depending on experience) pl...
2,3,Chef De Partie- Dining Pub-Hungerford,4881772,3,Chef,Chef de Partie Our client is a beautiful dinin...
3,4,Chef Manager,8195384,3,Chef,Advert Information Location: Welwyn Garden Cit...
4,5,Systems Administrator,11094265,2,System Administrators,Systems Administrator A leading global website...

In [ ]:
## In case of emergency

def loadDataFrameTsv():
  # Link to download the file from the browser (through a splash/lainding page)
  # browserLinkSolutions="https://drive.google.com/file/d/1CfZHSwElAOHrlgku0x9ybjXAXMwuaqNz/view?usp=sharing" 
  #
  # next link gives direct access to the file (no splash page) 
  tsvLinkSolutions="https://drive.google.com/uc?export=download&id=1CfZHSwElAOHrlgku0x9ybjXAXMwuaqNz"
  df=pd.read_csv(tsvLinkSolutions, sep='\t',quoting=0, header=0) # Quoting=0 removes fields surrounding quotes # header=0, column names are in the first row (i.e., row 0))
  return df

# uncomment in case you need good data
#dfRaw = loadDataFrameTsv();dfRaw.head()

In [ ]:
##########################
# Let's get some info about the dataframe
# Showing the number of rows and columns of the DataFrame (i.e., of the data matrix)
print(' dfraw.shape i.e., (num. of rows, num. of columns)')
# .shape returns a tuple (# of lines, # of columns)
print(dfRaw.shape) #
print() # print an empty line

# \n is carriage return, "a capo" in Italian
print("\n Number of columns: ")
print(dfRaw.shape[1]) 
print() # print an empty line

print(' Column names') 
# columns are turned into a list to get a cleaner output
print(list(dfRaw.columns))

 dfraw.shape i.e., (num. of rows, num. of columns)
(943, 6)


 Number of columns:
6

 Column names
['Prog.', 'Title', 'ID', 'CategoryID', 'CategoryName', 'Description']

In [ ]:
##########################
# The .loc method allows one to extract 
# a subset of rows and/or columns

# .loc[rows_selection_criteria, columns_selection_criteria]
dfRaw.loc[dfRaw.index<10,:] # : is for everything

,Prog.,Title,ID,CategoryID,CategoryName,Description
0,1,Senior Accountant,7269055,1,Accountants,A key position has arisen in a long establishe...
1,2,Accounts Semi Senior,1357788,1,Accountants,Â£15.000 - Â£18.000 (depending on experience) pl...
2,3,Chef De Partie- Dining Pub-Hungerford,4881772,3,Chef,Chef de Partie Our client is a beautiful dinin...
3,4,Chef Manager,8195384,3,Chef,Advert Information Location: Welwyn Garden Cit...
4,5,Systems Administrator,11094265,2,System Administrators,Systems Administrator A leading global website...
5,6,Commis Chef - Fresh Food Restaurant and Bar,3889131,3,Chef,Commis Chef required to join this great fresh ...
6,7,Linux Hosting Systems Administrator (Can Work ...,11266112,2,System Administrators,Job: Linux Hosting Systems Administrator (Can ...
7,8,Senior Pensions Administrator,6301054,1,Accountants,Our client is looking to recruit a Senior Pens...
8,9,Systems Accountant,11238920,1,Accountants,Apply now Large service based organisation in ...
9,10,Cleaning Operative,5040537,4,"Cleaners and helpers in office, hotels",We urgently require a Cleaning Operative to wo...

In [ ]:
##########################
# Some other .loc examples
selectionMask = dfRaw.loc[:,'ID']==1357788
print('type(selectionMask)')
print(type(selectionMask)) # pandas ... Series
print()

# showing the first 5 elements of the selection mask
print("First 5 elements of the selection mask")
# print output is not so nice as display, but print is more portable
print(selectionMask[:5]) 
print()

# the selectionMask is used as row filter, 
# only rows where mask is True are selected
print("dfRaw.loc[selectionMask, ['Title', 'CategoryID', 'CategoryName']]") # In python I can use ' or " as string enclosing chars
dfRaw.loc[selectionMask, ['Title', 'CategoryID', 'CategoryName']]
# The last command output is always showed after the cell code, 
# no print() is required. 
# The intermediate command output is not showed, unless a print is used (see above)

type(selectionMask)
<class 'pandas.core.series.Series'>

First 5 elements of the selection mask
0    False
1     True
2    False
3    False
4    False
Name: ID, dtype: bool

dfRaw.loc[selectionMask, ['Title', 'CategoryID', 'CategoryName']]

                  Title  CategoryID CategoryName
1  Accounts Semi Senior           1  Accountants

In [ ]:
######
# Looking for missing values i.e., null values (in pandas they are called NaN)
missingValueMask = dfRaw.loc[:,'CategoryID'].isna()
print('Rows with missing values')
# display is like print, it works only in notebooks and
# provide a nice output
display(dfRaw.loc[missingValueMask,:]) 
print()

print('dfRaw.loc[missingValueMask,:].shape')
print(dfRaw.loc[missingValueMask,:].shape)

Rows with missing values

Empty DataFrame
Columns: [Prog., Title, ID, CategoryID, CategoryName, Description]
Index: []

dfRaw.loc[missingValueMask,:].shape
(0, 6)

In [ ]:
######
# Removing missing values, if any
print('Shape before removing missing values', dfRaw.shape)
df = dfRaw.dropna() 
print('Shape after', df.shape)
print()

#removing rows with label different than (1,2,3,4)
print('Removing undesired labels')
print('df.shape', df.shape)
permittedLabels=[1,2,3,4]
#Below, .isin() works well also when df2.CategoryID has float values 
#while permittedLabels has int elements
df2=df.loc[df.loc[:,'CategoryID'].isin(permittedLabels)]
print('df2.shape', df2.shape)
print()

# Evaluating Category Sizes (i.e., label subset size)
print('Cat. sizes')
print(df2.loc[:,'CategoryID'].value_counts())

Shape before removing missing values (943, 6)
Shape after (943, 6)

Removing undesired labels
df.shape (943, 6)
df2.shape (943, 6)

Cat. sizes
2    287
1    285
3    242
4    129
Name: CategoryID, dtype: int64

In [ ]:
##########################
# Converting CategoryID label to int 
# (in case it were saved in a non numeric format)
df2['CategoryID'] = df2['CategoryID'].astype(int)
print('df2.dtypes') # visualizzo i tipi delle colonne. In pandas, le colonne sono chiamate Series.
print(df2.dtypes)
df2.head()

df2.dtypes
Prog.            int64
Title           object
ID               int64
CategoryID       int64
CategoryName    object
Description     object
dtype: object

,Prog.,Title,ID,CategoryID,CategoryName,Description
0,1,Senior Accountant,7269055,1,Accountants,A key position has arisen in a long establishe...
1,2,Accounts Semi Senior,1357788,1,Accountants,Â£15.000 - Â£18.000 (depending on experience) pl...
2,3,Chef De Partie- Dining Pub-Hungerford,4881772,3,Chef,Chef de Partie Our client is a beautiful dinin...
3,4,Chef Manager,8195384,3,Chef,Advert Information Location: Welwyn Garden Cit...
4,5,Systems Administrator,11094265,2,System Administrators,Systems Administrator A leading global website...

In [ ]:


##########################
# Unfortunately, the dataset is unbalanced
# Balancing by undersammpling
def underSample2Min(df, labelName):
    ''' The dataset is undersampled so that all label groups will have the same size,
        corresponding to the (original) minimal label set.
        The parameter labelName is the DataFrmae column hosting the labels'''
        
    vc = df.loc[:,labelName].value_counts() # Counting label frequencies
    lab2freq = dict(zip(vc.index.tolist(), vc.values.tolist()))
    #print(lab2freq) # if you want to see lab2freq, please uncomment this command
    #print(min(lab2freq.values()))
    minfreq = min(lab2freq.values())
    #print(minfreq)
    idxSample=[]
    for selectedLabel, actualFreq in lab2freq.items():
        selIndexes=df.loc[df.loc[:,labelName]==selectedLabel, :].sample(n=minfreq).index.tolist()
        idxSample+=selIndexes
    idxSample.sort()
    #print(type(idxSample), idxSample)
    #print(list(df.index)[:5])
    
    df2 = df.loc[idxSample, :]
    #print(len(idxSample), df2.shape);exit()
    df2 = df2.reset_index() # otherwise missing index may cause problem
    return df2

df3 = underSample2Min(df2, 'CategoryID')

# Let's look again to the category sizes
print('Cat. sizes')
print(df3.loc[:,'CategoryID'].value_counts())

Cat. sizes
1    129
3    129
4    129
2    129
Name: CategoryID, dtype: int64

In [ ]:
######
# 

xAll = df3.loc[:,'Title'] # Selecting the title column. It will be used as input feature i.e., the x
yAll = df3.loc[:,'CategoryID'] # Selecting the CategoryID column i.e., the y
print('type(xAll)', type(xAll), 'xAll.shape', xAll.shape)
print('type(yAll)', type(yAll), 'xAll.shape', yAll.shape)
print()

# Suddivido xAll e yAll in due sottoinsiemi, rispettivamente di training e test
xTrainVec, xTestVec, yTrain, yTest = train_test_split(
    xAll, yAll, # the x and y to be partitioned
    test_size=0.30, # the test set size will be 30% of the original dataset, i.e. trainini size will be 70%
    random_state=0, # random_state e' il seed del generatore di numeri casuali usato per guidare la partizione in dataset di train e test 
    stratify=yAll) # stratify: tries to ensure a proportional distribution of labels among train and test set

# Now I want to inspect the shape
varDi = {'xAll':xAll, 'yAll':yAll, 'xTrainVec':xTrainVec, 'xTestVec':xTestVec, 'yTrain':yTrain, 'yTest':yTest}
for varName, var in varDi.items(): #Â return a list of key-value pairs 
  print(varName, var.shape)
# since xAll and xTrainVec are pandas Series (i.e., columns), info about the number of columns is missing because is trivial

# xTrain e' una pandas series (semplificando, una colonna del DataFrame),
# la trasformo in una lista di stringhe
xTrain = list(xTrainVec) 
xTest = list(xTestVec)

type(xAll) <class 'pandas.core.series.Series'> xAll.shape (516,)
type(yAll) <class 'pandas.core.series.Series'> xAll.shape (516,)

xAll (516,)
yAll (516,)
xTrainVec (361,)
xTestVec (155,)
yTrain (361,)
yTest (155,)

'''

# Text Processing and Machine Learning

Text data requires special preparation before using machine learning algorithms. Some details are provided in the lines below.


## Bag-of-Words Model

We may want to perform classification of documents (whereas a document is a set of strings), so each document is an âinputâ and a class label is the "output". Machine Learning algorithms take vectors of numbers as input, therefore we need to convert documents to fixed-length vectors of numbers.

A simple and effective way for dealing with text documents in machine learning is called the Bag-of-Words approach, or BoW.

The approach is simple in that it throws away all of the order information in the words and focuses on the occurrence of words in a document.

This can be done by assigning each word to a unique place in a fixed lenght-vector. The vector length will be the length of the vocabulary of known words. The value in each vector position could be filled with the frequency of the corresponding word in the encoded document.

This is the bag of words approach, where we are only concerned with encoding schemes that represent the degree to which words are present in encoded documents without any information about order.

There are many ways to extend this simple method, both by better clarifying what a âwordâ is and in defining what to encode about each word in the vector.

To recap what we have just read, 
- the text must be parsed to identify single words, this process is called tokenization. 

- Then, the words need to be encoded as integers or floating point values for use as input to a machine learning algorithm. The latter process is called feature extraction (or vectorization).


## **Scikit-learn** library

The [CountVectorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) in the scikit-learn library provides a simple way to:

- encode documents using the Bag of Word approach

- tokenize a collection of text documents

- build a vocabulary of known words

- encode new documents using that vocabulary

The CountVectorizer should be used as follows:

- create an instance of the CountVectorizer class.

- call the fit() function  to learn a vocabulary from a set of documents.

- call the transform() function on a set of document to produce the document-term-matrix (i.e., to encode the documents).

An matrix is returned, whereas each (row) vector has the  length of the entire vocabulary, and each (row vector) element is an integer count for the number of times the corresponding word appeared in the document.

Because data contain a lot of zeros, they are stored in a sparse matrix data structure. They can be transformed into dense arrays before printing by calling the .toarray() method.

Below is an example of using the CountVectorizer to tokenize, build a vocabulary, and then encode a document.

'''

In [ ]:
######
# Some examples using the CountVectorizer
# Some code is commented using multi line strings, 
# if you like you can uncomment 
# (by dropping the ''' both at the beginning and at the end)
# and then execute the code
 
# In python, multi-line strings are used as multi-line comments 

#importing the CountVectorizer library
from sklearn.feature_extraction.text import CountVectorizer

# list of text documents. For the sake of simplicity we have only 2 documents below.
text = ["The quick brown fox jumped over the lazy dog.", 
        "The quick brown fox"
        ]

# Instantiating the CountVectorizer() class, so that it can be used to build the tf-matrix
vectorizer = CountVectorizer()

# proces the text (e.g., tokenize) and build the vocabulary
# In a vocabulary each word is unique (no repetition)
vectorizer.fit(text)

print('Vocabulary')
print(vectorizer.get_feature_names_out()) 
# ['brown', 'dog', 'fox', 'jumped', 'lazy', 'over', 'quick', 'the']
print()

# Now we compute the BoW Matrix. 
# We can work on different documents too!
# But the vocabulary won't change (i.e., new terms are not added)
documentTermMatrix = vectorizer.transform(text)

print("Let's have a look to the output.")
print('documentTermMatrix shape')
print(documentTermMatrix.shape) 
# (2, 8)
print()

print('documentTermMatrix is of type: ')
print(type(documentTermMatrix)) 
#Â scipy.sparse.csr.csr_matrix are sparce matrix
print()

print("and its content is as follows (each matrix element")
print("is represented using the form ...")
print("  (x,y) value")
print("... where x,y are the cell coordinates, and value is the cell content):")
print(documentTermMatrix)
# ...
#  (0, 0)	1
#  (0, 1)	1
#  (0, 2)	1
#  (0, 3)	1
#  (0, 4)	1
#  (0, 5)	1
#  (0, 6)	1
#  (0, 7)	2
#  (1, 0)	1
#  (1, 2)	1
#  (1, 6)	1
#  (1, 7)	1
print()

# .todense() turns the matrix into a dense one. 
# A dense matrix is more print friendly
print('Showing the corresponding dense matrix')
print('Dense matrix type') 
print(type(documentTermMatrix.toarray())) 
# <class 'numpy.ndarray'> is a n-dimensional array
print('Print Output')
print(documentTermMatrix.todense())  
# [
#    [1 1 1 1 1 1 1 2], 
#    [...]
# ]

Vocabulary
['brown' 'dog' 'fox' 'jumped' 'lazy' 'over' 'quick' 'the']

Let's have a look to the output.
documentTermMatrix shape
(2, 8)

documentTermMatrix is of type:
<class 'scipy.sparse.csr.csr_matrix'>

and its content is as follows (each matrix element
is represented using the form ...
  (x,y) value
... where x,y are the cell coordinates, and value is the cell content):
  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	1
  (0, 6)	1
  (0, 7)	2
  (1, 0)	1
  (1, 2)	1
  (1, 6)	1
  (1, 7)	1

Showing the corresponding dense matrix
Dense matrix type
<class 'numpy.ndarray'>
Print Output
[[1 1 1 1 1 1 1 2]
 [1 0 1 0 0 0 1 1]]

In [ ]:
##########################
# Transforming the dtm into a pandas DataFrame
# numpy.ndarray and scipy.sparse.csr.csr_matrix are data types primarily used for computation
# They cannot store meta-data, while pandas DataFrames can have meta-data with data

# get feature names
columnNames = vectorizer.get_feature_names()

# using feature names as column names in the pandas DataFrame
dtmdf = pd.DataFrame(documentTermMatrix.todense(), columns=columnNames)
display(dtmdf.head())
print('Please, ignore the first column which is the dataframe index')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   brown  dog  fox  jumped  lazy  over  quick  the
0      1    1    1       1     1     1      1    2
1      1    0    1       0     0     0      1    1

Please, ignore the first column which is the dataframe index

We can see that all words were made lowercase by default and that the punctuation was ignored. These and other aspects of tokenizing can be configured. Please, have a look to the [CountVectorizer API](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html).

Running the example first prints the vocabulary, then the shape of the encoded document. 
We can see that there are 8 words in the vocabulary of 

>**"The quick brown fox jumped over the lazy dog."**. 

Therefore, the encoded matrix has 8 columns and 2 rows since two documents were processed

Here it is the encoded matrix

>[
>   [1 1 1 1 1 1 1 2], 
>   [1	1	0	1	0	0	0	1	1]
>]

or using indentation to better identify the elements

>[
>
>      [1 1 1 1 1 1 1 2], 
>
>      [1 1 0 1 0 0 0 1 1]
>
>]


showing a count of 1 occurrence for each word except "the" (index and id 7) that has an occurrence of 2.

Be careful, the same CountVectorizer can be used on documents that contain words not included in the vocabulary. The words not included are ignored and no count is given in the resulting vector.
E.g., below is an example of using the vectorizer above to encode a document with one word in the vocab and one word that is not.

text2 = \["the puppy"\]

vector = vectorizer.transform(text2)

print(vector.todense()) #Â \[\[0 0 0 0 0 0 0 1\]\]

The encoded vectors can then be used directly with a machine learning algorithm.

Credits: [Jason Brownlee](https://machinelearningmastery.com/prepare-text-data-machine-learning-scikit-learn/)

In [ ]:
######
# Simple Pipeline
# tockenization and stop words filtering is performed using 
# CountVectorizer built-in functions

# Let's build a pipeline for preprocessing and classifying job vacancy titles
cp = Pipeline([  
   ('vectorizer', CountVectorizer()),
   ('classifier', LogisticRegression() ), # LinearSVC is another classifier you can try
                           ])

# We collect all the configuration parameters inside a single data structure. 
# Each parameter is identified by the string pipelineComponentName__ParamName.
# The pipeline component name and the param name are separated 
# by 2 underscore "_"
clsfParams = {
   'classifier__C': 0.001,  # C is equivalent to 1/lambda
   'vectorizer__stop_words':'english', #Â articles are discardedÃ
   'vectorizer__ngram_range': (1,1), #only unigrams are considered. (1,2) is for both unigrams and bigrams, (1,3) is for unigrams bigrams and trigrams, ...
}

# The parameters are set NOW, after pipeline creation
# This is strange at the very beginning,
# but later you will apreciate it
cp.set_params(**clsfParams) 
cp.fit(xTrain, yTrain)

# Performing the prediction
yPred=cp.predict(xTest)

#Computing the classification report
print('Classification report')
clasRepSt01 = classification_report(yTest,yPred)
print(clasRepSt01)

#Computgin accuracy too
print('Accuracy')
print(accuracy_score(yTest,yPred))

# What will be the accuracy, in your opinion?












#

Classification report
              precision    recall  f1-score   support

           1       0.95      0.49      0.64        39
           2       0.70      1.00      0.82        39
           3       1.00      0.97      0.99        38
           4       0.93      1.00      0.96        39

    accuracy                           0.86       155
   macro avg       0.89      0.87      0.85       155
weighted avg       0.89      0.86      0.85       155

Accuracy
0.864516129032258

In [ ]:
# To be continued